# Yandex Cloud / Backend
DATABASE_URL="postgresql://user:password@localhost:5432/yavka?schema=public"

# Yandex Maps API
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=your_key_here

# Backend URL
NEXT_PUBLIC_API_URL=http://localhost:3001
